.ipynb_checkpoints
*/.ipynb_checkpoints/*
intro_to_tf/week_02/.ipynb_checkpoints
intro_to_tf/week_02/.ipynb_checkpoints/*.ipynb
intro_to_tf/week_03/.ipynb_checkpoints
intro_to_tf/week_03/.ipynb_checkpoints/*.ipynb
intro_to_tf/week_04/.ipynb_checkpoints
intro_to_tf/week_04/.ipynb_checkpoints/*.ipynb
